/* regole generali */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    width: 60%;
    margin: auto;
}



/* regole header */
header{
    background-color: rgb(0, 132, 255);
    color: white;
    height: 60px;
    font-size: 15px;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
}

#logo{
    width: 70px;
}

.container > #logo > img{
    max-width: 100%;
}

#menu-desktop{
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.botton{
    background-color: white;
    color: black;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 20px;
} 

#menu-mobile{
    display: none;
}

/********** versione tablet e mobile **********/
@media screen and (max-width:768px) {
    header > .container{
        max-width: 768px;
    }

    #menu-mobile{
        display: block;
    }

    #menu-desktop{
        display: none;
    }
}

@media screen and (max-width:480px) {
    header > .container{
        max-width: 480px;
    }
    
}


/* REGOLE MAIN */

/* section developer */
.developer-up{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}

.card-1{
    background-color: rgb(179, 219, 255);
    border-radius: 20px;
    height: 270px;
    width: 32%;
    display: flex;
}

.card-1 > div > h3{
    color: rgb(0, 132, 255);
}

.card-1 > div > p{
    font-size: 14px;
    margin-top: 5%;
    margin-bottom: 10%;
}

.card-1 > img{
    max-width: 100%;
    margin-top: 8%;
}

/* regole card grande */
.big{
    width: 66%;
}

.big > div{
    width: 50%;
    margin-left: 5%;
    margin-top: 5%;
}

.big > div > .botton{
    background-color: rgb(0, 132, 255);
    color: white;
    display: flex;
    width: 50%;
    justify-content: center;
}


/* regole card piccole */
.small{
    display: block;
    text-align: center;
}

.small > div{
    width: 95%;
    margin-top: 10%;
}

.small > div > h3{
    color: rgb(0, 132, 255);
}

.small > div > p{
    font-size: 14px;
}

.small > div > i{
    color: rgb(0, 132, 255);
    font-size: 60px;
    margin-bottom: 5%;
}

.developer-down{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

/********** versione tablet **********/

@media screen and (max-width:768px){
    .container{
        width: 90%;
    }

    .developer-up{
     height: 350px;
     
    }
 
    .developer-up > .big , .small{
     height: 100%;
    }
 
    .big{
     flex-direction: column;
    }
 
    .big > div{
     width: 100%;
     }
 
    .big > img{
     display: block;    
     max-width: 47.3%;
     margin-left: 8%;
    }
}

/********** versione mobile **********/
@media screen and (max-width:480px){

    .developer-up , .developer-down{
        flex-direction: column;
        width: 100%;
        align-items: center;
    }

    .developer-up{
        margin-bottom: 65%;
    }

    .big{
        margin-bottom: 5%;
        width: 80%;
    }

    .small{
        width: 80%;
        margin-bottom: 5%;
    }

}

/* section planning */
.planning{
    margin-top: 5%;
    background-color: rgb(150, 145, 227);
}

.planning > .container{
    display: flex;
    width: 45%;
    justify-content: space-between;
    padding-top: 10%;
    padding-bottom: 5%;
}

.planning > .container > div{
    color:white;
    width: 46%;
}

.planning > .container > div > img{
    max-width: 100%;
    padding-bottom: 30%;
}

.planning > .container > div > p{
    font-size: 12px;
    padding-top: 10%;
}

.card-2{
    background-color: white;
    border-radius: 30px;
    text-align: center;
    margin-top: 20%;
}

.card-2 > div{
    color: black;
    width: 70%;
    margin: auto;
}


.card-2 > div > img{
    max-width: 90%;
    padding-top: 5%;
}

.card-2 > div > p{
    font-size: 13px;
    font-style: italic;
    padding-top: 5%;
    padding-bottom: 5%;
}

.arrow-down{
    background-color: rgb(150, 145, 227);
    max-width: 13%;
    border-radius: 25px;
    padding: 10px;
}

/********** versione tablet e mobile **********/

@media screen and (max-width:768px){
    .planning > .container{
        display: block;
        width: 80%;
    }

    .planning > .container > div{
        width: 100%;
    }
}


/* section testimonials */
.testimonials > .container{
    padding-top: 60px;
    padding-bottom: 40px;
}

.testimonials > .container > div{
    text-align: center;
    margin-bottom: 40px;
}

.testimonials > .container > div > h1{
    color: rgb(150, 145, 227);
    font-size: 40px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.card-3{
    background-color: rgb(150, 145, 227);
    border-radius: 30px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    height: 230px;
}

.card-3 > div > p , h4{
    color: white;
}

.card-3 > div > h4{
    margin-top: 20px;
}

.card-3 > .photo{
    width: 30%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
}

.photo img{
    width: 60%;
    height: 150px;
    border-radius:999em;
}

.info-photo{
    width: 65%;
    text-align: left;
}

/********** versione tablet **********/

@media screen and (max-width:768px){
    .card-3 > .photo{
        width: 40%;
        padding-right: 0;
    }

    .info-photo{
        width: 55%;
    }
}

/********** versione mobile **********/
@media screen and (max-width:480px){
    
    .testimonials > .container{
        width: 80%;
    }

    .card-3{
        flex-direction: column;
        height: 380px;
    }

    .card-3 > .photo{
        width: 60%;
    }
}

/* regole benefits */
.benefits{
    background-color: rgb(150, 145, 227);
}

.benefits > .container{
    padding-top: 40px;
    padding-bottom: 20px;
}

.benefits > .container > h1{
    font-size: 40px;
    text-align: center;
    padding-bottom: 40px;
    color: white;
}

.benefits-cards{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.benefits-cards > div{
    background-color: white;
    width: 32%;
    border-radius: 20px;
    padding: 20px;
    
}

.benefits-cards > div > h1{
    color: rgb(150, 145, 227);
    font-size: 50px;
}

.benefits-cards > div > h3{
    color: rgb(150, 145, 227);
}

.benefits-cards > div > p{
    font-size: 12px;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 25px;
}

.botton-2{
    background-color: rgb(150, 145, 227);
    color: white;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 20px;
    width: 40%;
    text-align: center;
} 

.botton-2 > span{
    font-size: 13px;
    font-weight: bolder;
}